body {
  margin: 0;
  background-color: var(--primary-color);
}


:root {
  --primary-color: #870000;
}

.button{
  height: 50px;
  width: 100px;
  border-radius: 12px;
}

.button:hover{
  transition: 0.3s;
  opacity: 0.7;
  
  cursor: pointer;
}

.loginButtonContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
}

